@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --orange:#ffa500;
    --dark: #333;
    --white: #fff;
    --lightOrange: #ffa60079;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.2);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    list-style: none;
    transition: .45s ease-in;
    scroll-margin-top: 4rem;
    /* overflow-x: hidden; */
}
html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
header {
    background-color: var(--dark);
    position: relative;
    padding-top: 70px;
    background-color: white;
}
*::selection {
    background-color: var(--orange);
    color: var(--white);
}
header nav {
    padding: 0 20px;
    width: 100%;
    height: 70px;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-size: 1.23rem;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}
header nav #menu-bar {
    border: 2px solid var(--white);
    padding: 5px;
    border-radius: 4px;
}
header a {
    text-transform: uppercase;
    color: var(--white);
}
header a::first-letter {
    color: var(--orange);
}
header nav ul {
    display: none;
}
header .contain {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .contain i {
    cursor: pointer;
    transition: .4s;
}
header nav #menu-bar:hover
,header nav ul li a:hover,
header .contain i:hover {
    color: var(--orange);
}
header section.stuff {
    position: relative;
}
header section.stuff section.ul {
    background-color: var(--dark);
    width: 100%;
    height: 50vh;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 2px solid var(--white);
    top: 70px;
    position: fixed;
    opacity: 0;
    z-index: 1000;
}
header section.stuff section.ul ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
header section.stuff section.ul ul li {
    border-radius: 5px;
    background-color: #000;
    width: 90%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}
header section.stuff section.ul ul li a{
    color: var(--white);
    width: 100%;
    height: 80%;
}
header section.stuff section.ul ul li a::first-letter {
    color: var(--white);
}
header section.stuff #form {
    background-color: var(--dark);
    width: 100%;
    border-top: 2px solid #c0c0c0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    color: var(--white);
    transition: .45s;
    z-index: 1000;
    position: fixed;
    top: 70px;
    opacity: 0;
}
header section.stuff #form input{
    width: 90%;
    height: 80%;
    border-radius: 7px;
    padding: 5px;
    font-size: 1rem;
}
header section.stuff #form i {
    cursor: pointer;
}
header section.stuff #loginSection {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
}
header section.stuff #loginSection #loginForm {
    width: 90%;
    max-width: 600px;
    height: 400px;
    background-color: var(--white);
    border-radius: 5px;
    color: #000;
    display: block;
    padding-top: 15px;
}
header section.stuff #loginSection #loginForm i {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
} 
header section.stuff #loginSection #loginForm .tx {
    height: 10%;
    text-align: center;
}
header section.stuff #loginSection #loginForm .tx h2 {
    text-transform: uppercase;
}
header section.stuff #loginSection #loginForm .container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
header section.stuff #loginSection #loginForm .container input,
header section.stuff #loginSection #loginForm .container button  {
    width: 80%;
    height: 50px;
    padding: 5px;
    border: 2px solid var(--dark);
    border-radius: 2px;
    font-size: 1rem;
    cursor: pointer;
}
header section.stuff #loginSection #loginForm .container button {
    background-color: var(--orange);
    color: var(--white);
    border: none;
}
header section.stuff #loginSection #loginForm .radio {
    padding-left: 10px;
    width: 100%;
    height: calc(100% - 50% - 10% - 15px);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1rem;
}
header section.stuff #loginSection #loginForm .radio div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
}
header section.stuff #loginSection #loginForm .radio div input {
    cursor: pointer;
}
header section.stuff #loginSection #loginForm .radio p a {
    color: var(--orange);
}
header section.stuff #loginSection #loginForm .radio p a:hover {
    text-decoration: underline;
}
header section.main {
    width: 100%;
    height: calc(100vh - 70px);
    min-height: 350px;
    background-color: transparent;
    position: relative;
}
header section.main section.text {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
header section.main section.text div.gra {
    position: absolute;
    background-color: rgba(15, 109, 146, 0.103);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}
header section.main section.text video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%,-50%);
}
header section.main section.text .one {
    width: 100%;
    height: 70%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    z-index: 600;
    color: var(--white);
} 
header section.main section.text .one h1 {
    font-size: 3.4rem;
}
header section.main section.text .one p {
    font-size: 1.4rem;
    margin-top: 1rem;
}
header section.main section.text .one button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: 2px solid var(--orange);
    background-color: var(--orange);
    border-radius: 2px;
    font-size: 1.1rem;
    cursor: pointer;
}
header section.main section.text .one button:hover {
    background-color: var(--lightOrange);
}
header section.main section.text .two {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 600;
}
header section.main section.text .two div.container {
    width: 200px;
    height: 40px;
    background-color: var(--dark);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    transition: 0.1s;
}
header section.main section.text .two div.container div {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
header section.main section.text .two div.container div.active {
    background-color: var(--orange);
}
main {
    width: 100%;
    height: auto;
}
main section {
    width: 100%;
    padding-top: 20px;
}
main section .header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section .header p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
main section .header p span{
    padding: 3px 3px;
    color: var(--orange);
    background-color: var(--lightOrange);
    font-size: 2.3rem;
    border-radius: 5px;
    font-weight: 650;
    margin-left: 3px;
}
main section .header p span.n {
    margin-left: 30px;
}
main section.book {
    padding-bottom: 50px;
    box-shadow: 0 10px 10px #f1eded;
}
main section.book div.main {
    width: 100%;
    height: auto;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main section.book div.main div {
    min-width: 100%;
    min-height: 90%;
}
main section.book div.main div.img {
    width: 50%;
    height: 50%;
}
main section.book div.main div.smi {
    width: 40%;
    height: 50%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section.book div.main div img {
    width: 100%;
    height: 100%;
}
main section.book div.main form {
    width: 100%;
    padding: 0 15px;
}
main section.book div.main div form div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
main section.book div.main div form div label {
    font-size: 1.1rem;
    color: #000;
}
main section.book div.main div form div input {
    width: 100%;
    height: 50px;
    padding: 5px;
    border: 2px solid rgba(51, 51, 51, 0.397);
    border-radius: 5px;
}
main section.book div.main div form button {
    background-color: var(--orange);
    color: var(--white);
    padding: .7rem 2rem;
    margin-top: 5px;
    font-size: 1.1rem;
    border-radius: 3px;
    border: 2px solid var(--orange);
}
main section.book div.main div form button:hover {
    background-color: var(--lightOrange);
}
main section.package {
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 0 10px 10px #f1eded;
}
main section.package section.main {
    display: grid;
    grid-template-columns: 337px;
    grid-template-rows: repeat(6,500px);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
main section.package section.main div.container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}
main section.package section.main div.container div {
    width: 100%;
    height: 50%;
}
main section.package section.main div.container div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
main section.package section.main div.container .txt {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
main section.package section.main div.container .txt i {
    color: var(--orange);
}
main section.package section.main div.container .txt h3 {
    font-size: 1.4rem;
}
main section.package section.main div.container .txt p {
    font-size: 1.2rem;
    color: #000;
}
main section.package section.main div.container .txt p del{
    text-decoration: line-through;
    font-size: 1.1rem;
    color: rgb(143, 133, 133);
}
main section.package section.main div.container .txt button {
    padding: 1rem 2rem;
    background-color: var(--orange);
    color: var(--white);
    border: 2px solid var(--orange);
}
main section.package section.main div.container .txt button:hover {
    background-color: var(--lightOrange);
}
main section.services {
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 0 10px 10px #f1eded;
}
main section.services section.main {
    display: grid;
    grid-template-columns: 337px;
    grid-template-rows: repeat(6,280px);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
main section.services section.main div.text {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .47s;
}
main section.services section.main div.text:hover {
    background-color: var(--white);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .1);
}
main section.services section.main div.text i {
    font-size: 4rem;
    color: var(--orange);
}
main section.services section.main div.text h3 {
    font-size: 1.7rem;
}
main section.gallery {
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 0 10px 10px #f1eded;
}
main section.gallery section.main {
    display: grid;
    grid-template-columns: 337px;
    grid-template-rows: repeat(9,250px);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
main section.gallery section.main div.box {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .47s;
    position: relative;
    border: .7rem solid var(--white);
    box-shadow: 0 0 3px 3px rgba(31, 30, 30, 0.1);
}
main section.gallery section.main div.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main section.gallery section.main div.box div.ab {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1f1f1f8a;
    height: 0%;
    opacity: 0;
    transition: .45s;
    color: var(--white);
}
main section.gallery section.main div.box:hover div.ab {
    opacity: 1;
    height: 100%;
}
main section.gallery section.main div.box div.ab h2 {
    color: var(--orange);
}
main section.gallery section.main div.box div.ab button {
    padding: 1rem 2rem;
    background-color: var(--orange);
    color: var(--white);
    border: 2px solid var(--orange);
}
main section.gallery section.main div.box div.ab button:hover {
    background-color: var(--lightOrange);
}
main section.review div.container {
    width: 90%;
    height: 400px;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    gap: 20px;
    scroll-snap-type: x mandatory;
    transition: .75s;
}
main section.review div.container section.box {
    min-width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, .1);
    scroll-snap-align: center;
}
main section.review div.container section.box div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
main section.review div.container section.box div {
    width: 100%;
    margin: 0;
    padding: 0;
}
main section.review div.container section.box  .img {
    padding: 10px;
    height: 40%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section.review div.container section.box  .img img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
}
main section.review div.container section.box div.container1 {
    height: 60%;
    padding: 10px;
    text-align: center;
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main section.review div.container section.box div.container1 section i {
    color: var(--orange);
}
main section.contact {
    padding-bottom: 50px;
    box-shadow: 0 10px 10px #f1eded;
}
main section.contact div.main {
    width: 100%;
    height: auto;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main section.contact div.main div {
    min-width: 100%;
    min-height: 90%;
}
main section.contact div.main div.img {
    width: 50%;
    height: 60%;

}
main section.contact div.main div.smi {
    width: 40%;
    height: 50%;
    padding-bottom: 10px;
}
main section.contact div.main div img {
    width: 100%;
    height: 100%;
}
main section.contact div.main form {
    width: 100%;
    padding: 0 15px;
}
main section.contact div.main div form section{
    padding: 0;
}
main section.contact div.main div form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
main section.contact div.main div form div label {
    font-size: 1.1rem;
    color: #000;
}
main section.contact div.main div form div input {
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
main section.contact div.main div form div textarea {
    width: 100%;
    height: 200px;
    background-color: #ddd;
    border-radius: 5px;
    padding: 5px;
    resize: none;
}
main section.contact div.main div form button {
    background-color: var(--orange);
    color: var(--white);
    padding: .7rem 2rem;
    margin-top: 5px;
    font-size: 1.1rem;
    border-radius: 3px;
    border: 2px solid var(--orange);
}
main section.contact div.main div form button:hover {
    background-color: var(--lightOrange);
}
footer {
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding-top: 5px;
}
footer section.sp {
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    overflow-x: scroll;
    overflow-y: hidden;
    display: none;
}
footer section.sp div {
    min-width: 200px;
    height: 90%;
    margin: 0 100px;
}
footer section.sp div:first-child {
    margin-left: 3px;
}
footer section.sp div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer section.main {
    width: 100%;
    background-color: var(--dark);
    display: grid;
    grid-template-columns: 337px;
    grid-template-rows: repeat(5, 200px);
    justify-content: center;
    align-items: start;
    padding-top: 30px;
    grid-gap: 10px;
    transition: .2s;
}
footer section.main div {
    width: 100%;
    height: 100%;
    color: var(--white);
}
footer section.main div h2 {
    font-size: 1.8rem;
    color: var(--orange);
}
footer section.main div a {
    color: var(--white);
    font-size: 1.1rem;
}
footer section.main div a:hover {
    color: var(--orange);
} 
footer section.main div p span {
    color: var(--orange);
}
footer section.main div.about {
    height: auto;
}
footer section.main div.locate {
    height: auto;
}
footer section.main div.hr {
    text-align: center;
}
footer section.main div hr {
    border: 2px solid var(--white);
    border-radius: 4px;
    margin-bottom: 30px;
}
/* media screen for  screen below 346px */
@media screen and (min-width:0px) and (max-width: 346px) {
    header section.main section.text .one h1 {
        font-size: 2.4rem;
    }
    main section.package section.main {
        display: grid;
        grid-template-columns: 90%;
    }
    main section.services section.main {
        display: grid;
        grid-template-columns: 90%;
    }
    main section.gallery section.main {
        display: grid;
        grid-template-columns: 90%;
    }
    main section.review div.container section.box {
        min-width: 290px;
    }
    footer section.main {
        display: grid;
        grid-template-columns: 90%;
    }
}
/* media screen for  screen below 350px */
@media screen and (min-width: 350px) {
    main section .header p span{
        padding: 3px 9px;
    }
}
/* media screen for  screen below 600px */
@media screen and (min-width: 600px) {
    main section .header p span{
        padding: 3px 9px;
    }
    header section.stuff #form input{
        width: 90%;
    }
    main section .header p {
        width: 30%;
    }
    main section.book div.main {
        height: 70vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    main section.contact div.main {
        height: 70vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    main section.book div.main div {
        min-width: 50%;
    }
    main section.contact div.main div {
        min-width: 50%;
    }
    
    main section.package section.main div.container {
        width: 100%;
    }
    main section.services section.main div.text {
        width: 100%;
    }
    main section.gallery section.main div.text {
        width: 100%;
    }
    main section.review div.container section.box {
        min-width: 380px; 
    }
}
/* media screen for  screen below 730px */
@media screen and (min-width: 730px) {
    main section.package {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    }
    main section.package section.main {
        display: grid;
        grid-template-columns: repeat(2, 337px);
        grid-template-rows: repeat(3, 500px);
    }
    main section.services {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    main section.services section.main {
        display: grid;
        grid-template-columns: repeat(2, 337px);
        grid-template-rows: repeat(3, 280px);
    }
    main section.gallery {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    main section.gallery section.main {
        display: grid;
        grid-template-columns: repeat(2, 337px);
        grid-template-rows: repeat(4, 250px);
    }
    footer section.main {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: repeat(3, 200px);
        padding: 10px;
    }
    footer section.main div.hr {
    grid-column: span 2;
    }
}
/* media screen for  screen below 900px */
@media screen and (min-width: 900px) {
    header a.headerlink {
        font-size: 1.5rem;
    }
    header nav {
        padding: 0 50px;
    }
    
    header nav #menu-bar {
        display: none;
    }
    header nav ul {
        display: block;
    }
    header nav ul li {
        display: inline;
    }
    header nav ul li a {
        text-transform: capitalize;
        margin: 0 .5rem;
        transition: .4s;
    }
    header .contain {
        width: 100px;
    }
    main section .header p {
        width: 20%;
    }
    main section.contact div.main div form section{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    main section.contact div.main div form div input {
        width: 98%;
    }
    
}
/* media screen for  screen below 1080px */
@media screen and (min-width: 1080px) {
    main section.package section.main {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 337px);
        grid-template-rows: repeat(2, 500px);
    }
    main section.services section.main {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 337px);
        grid-template-rows: repeat(2, 280px);
    }
    main section.gallery section.main {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 337px);
        grid-template-rows: repeat(3, 250px);
    }
    footer section.main {
        display: grid;
        grid-template-columns:repeat(4, 337px);
        grid-template-rows: 200px 100px;
        padding: 50px;
    }
    footer section.main div.hr {
        grid-column: span 4;
    }
}
/* media screen for  screen below 1280px */
@media screen and (min-width: 1280px) {
    main section.package section.main {
        grid-template-columns: repeat(3, 367px);
    }
    main section.services section.main {
        grid-template-columns: repeat(3, 337px);
    }
    main section.gallery section.main {
        grid-template-columns: repeat(3, 400px);
    }
}